.vscode
.vs

bin
obj

*.db
*.db-*
wwwroot

appsettings.json
appsettings.*.json

# Unit Tests
*.Tests/coverage
*.Tests/results.xml
*.Tests/OpenCoverReport.xml

# NCrunch
_NCrunch*
*.ncrunchsolution*
*.ncrunchproject*

# Code Coverage
TestResults/**
